.DS_Store
.python-version
.idea/
*.lock
conf/config.ini
temp_status.json
conf/statuses_checked/*
conf/list_of_status_ids_replied_to.txt
conf/list_of_users_to_follow.txt
logs/
screenshots/
__pycache__/
